<!DOCTYPE html>
<html>
<head>
    <title>Input data</title>
</head>
<body>

<h2>Creating table</h2>
<hr>
<h3>Enter data for table:</h3>
<form method="POST">
<label>Cell_1:<input type="text" name="text0"></label>
<label>Cell_2:<input type="text" name="text1"></label>
<label>Cell_3:<input type="text" name="text2"></label>
<label>Cell_4:<input type="text" name="text3"></label>
<input type="submit" value=" GO " name="1">
</form>
<hr>
<a href="table"><button>Create table!</button></a>

</body>
</html>